a {
  color: $white;
  text-decoration: none;
}

.catbox {

  display: flex;
  flex-flow: column;
  max-width: 1000px;

  &__tit {
    margin: 1rem;
  }

  &__vids {
    display: flex;
    flex-flow: row wrap;
  }
}

.vidbox {
  color: $white;
  width: 30%;
  margin: 1rem;
}

.videoinf {
  width: 50%;
  text-overflow: ellipsis;
}

.videoimg {
  width: 100%;
}
