
.maintitle {
  align-self: flex-start;
  margin: 0 0 2rem 1rem;
}

.catbox {
  display: flex;
  flex-flow: column;

  &__tit {
    margin: 0 1rem 1rem;
    font-size: 2rem;
  }

  &__vids {
    display: flex;
    flex-flow: row wrap;
  }

  &__sep {
    align-self: center;
    width: 80%;
    margin: 2rem 0;
    border-bottom: 2px solid $lightgrey;
  }
}

.clickbox {
  color: $white;
  text-decoration: none;
}

.vidbox {
  width: 30%;
  margin: 1rem;
  color: $white;
}

.videoinf {
  text-overflow: ellipsis;

  &__tit {
    margin: 0.5rem 0 0;
    font-size: 1.5rem;
  }

  &__text {
    margin: 0.5rem 0 0;
    font-weight: bold;
  }
}

.videoimg {
  width: 100%;
}
