
$darkgrey: #666;
$lightgrey: #f0f0f0;
$betgrey: #ccc;
$black: #333;
$white: #eee;

html {
  background-color: $darkgrey;
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
