
$darkgrey: #333;
$lightgrey: #888;
$black: #000;
$white: #eee;

* {
  box-sizing: border-box;
  font-family: helvetica, arial, sans-serif;
  color: $white;
  background-color: $darkgrey;
}

main {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  max-width: 1000px;
  margin: auto;
}

@import "scss/frontpage";
