
$darkgrey: #666;
$lightgrey: #f0f0f0;
$betgrey: #ccc;
$black: #333;
$white: #eee;

html {
  background-color: $darkgrey;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;

  padding: 0;
  margin: 0;
}

html {
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

main {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}
