* {
  box-sizing: border-box;
  font-family: helvetica, arial, sans-serif;
  color: #eee;
  background-color: #333; }

main {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  max-width: 1400px;
  margin: auto; }

.maintitle {
  align-self: flex-start;
  margin: 0 0 2rem 1rem; }

.catbox {
  display: flex;
  flex-flow: column; }
  .catbox__tit {
    margin: 0 1rem 1rem;
    font-size: 2rem; }
  .catbox__vids {
    display: flex;
    flex-flow: row wrap; }
  .catbox__sep {
    align-self: center;
    width: 80%;
    margin: 2rem 0;
    border-bottom: 2px solid #888; }

.clickbox {
  color: #eee;
  text-decoration: none; }

.vidbox {
  width: 30%;
  margin: 1rem;
  color: #eee; }

.videoinf {
  text-overflow: ellipsis; }
  .videoinf__tit {
    margin: 0.5rem 0 0;
    font-size: 1.5rem; }
  .videoinf__text {
    margin: 0.5rem 0 0;
    font-weight: bold; }

.videoimg {
  width: 100%; }

@media (max-width: 1000px) {
  .vidbox {
    width: 45%;
    margin: 1rem; } }

@media (max-width: 500px) {
  .vidbox {
    width: 100%;
    margin: 1rem; } }
